/* Add additional stylesheets below
-------------------------------------------------- */
/*
  Bootstrap's documentation styles
  Special styles for presenting Bootstrap's documentation and examples
*/

/*!
 * Bootstrap v2.0.1
 *
 * Copyright 2012 Twitter, Inc
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Designed and built with all the love in the world @twitter by @mdo and @fat.
 */


/* Navigation bar Logo CSS custom class
-------------------------------------------------- */
.navbar .logo {
  /*
  float: left;
  display: block;
  padding: 8px 20px 12px;
  margin-left: -20px;
  font-size: 20px;
  font-weight: 200;
  line-height: 1;
  color: #ffffff;
  
  width: 14px;
  height: 14px;
  */
  float: left;
  display: inline-block;
  margin-left: -20px;
  line-height: 14px;
  vertical-align: text-top;
  /* Make this work!! logo */
  background-image: url("../images/GAlogo.png");
  width: 190px;
  background-position: 14px 14px;
  background-repeat: no-repeat;
  *margin-right: .3em;

}

.navbar .gatext {
  font-size: 16px;
}

.navbar .gacolor {
  /*
  color: #1d557f;
  background-color: #1d557f;
  */
}

.navbar .gabrand {
  padding: 2px 20px 2px;
}

.navbar .facebook {
  padding: 0px 20px 2px;
}

.navbar .btntext {
  color: #143b59;
  font-weight: bold;
}

.btn-yellow {
  background-color: #faa732;
  background-image: -moz-linear-gradient(top, #fbb450, #ffff00);
  background-image: -ms-linear-gradient(top, #fbb450, #ffff00);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#ffff00));
  background-image: -webkit-linear-gradient(top, #fbb450, #ffff00);
  background-image: -o-linear-gradient(top, #fbb450, #ffff00);
  background-image: linear-gradient(top, #fbb450, #ffff00);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbb450', endColorstr='#ffff00', GradientType=0);
  border-color: #ffff00 #ffff00 #ad6704;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.btnmarg {
  margin-top: 0px;
}
